body{
    background: url(Login-7.jpg) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.text{
 color: red;
padding: 10px 30px 80px 180px ;
}


.login-form{
    margin-top: 40px;
    border: 2px solid red;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
   box-shadow: inset -5px -5px  rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    height: 500px;
    width: 450px;
}

.login-form .input-box{

padding: 20px 0px 5px 40px;
}

 

.input-box input{

    height: 35px;
    width: 350px;
    border-radius: 8px;
    border: 1px solid red;
    outline: none;
   
    background-color: transparent;
     transition: transform 0.3s ease-in-out;
}

input[type=text]{
    color: white;
    font-size: 20px;
    
}
input[type=password]{
    color: white;
    font-size: 20px;
    

}

.link{

    padding: 20px 30px 20px 40px;
}


button{

    border-radius: 7px;
    height: 35px;
    width: 354px;
   background-color: transparent;
   color:red;
   font-size: 20px;
    border: 1px solid red;
 transition: transform 0.5s;

}

button:hover{
     border: 1px solid red;
    background-color:red;
    color: white;
     transform: scale(1.3);
    z-index: 2;
   
}
span {
    display: flex;
    margin-top: 20px;
    margin-left: 140px;
    margin-right: 70px;
    
}

span a{
    font-size: 30px;
    text-decoration: none;
    color: red;
}
a:hover{
    color: blue;

}
.input-box input:focus{

    transform: scale(1.2);
}