
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border: 2px solid red;
    }

    th {
        background-color: black;
        color: white;
    }

    tr:nth-child(even) {
        background-color: transparent;
        color: black;
    }

    tr:nth-child(odd) {
        background-color: transparent;
        color: black;
    }

    tr:hover {
        background-color: red;
        color: white;
    }
